extends ../layouts/common.pug

block content
    h1 Login

    if errors
        each error in errors
            .alert.alert-danger= error

    form(action="/auth/login", method="POST" class="")
        label.input-label(for="email") Email
        input(id="email" name="email", type="email" class="form-control input-search input-create", placeholder="Email" value=values ? values.email : "")

        label.input-label(for="password") Password
        input(id="password" name="password", type="password" class="form-control input-search input-create", placeholder="Password" value=values ? values.password : "")

        button(class="btn btn-primary input-commit") Login