html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
        link(rel="stylesheet", href="/styles/main.css")
    body.container
        header.header
            nav.navbar
                a(href='', class="navbar__logo")
                    img(src='/images/Logo.png', alt='')
                ul.navbar__list
                    li.navbar__item
                        a(href='/', class="navbar__link") Home
                    li.navbar__item
                        a(href='/users', class="navbar__link") Users List
                    li.navbar__item
                        a(href='/products', class="navbar__link") Product
                    li.navbar__item
                        a(href='/', class="navbar__link") Cart
                    li.navbar__item
                        if userCurrent
                            p(class="navbar__userName")= userCurrent.name
        block content